<ion-header>
  <ion-toolbar color="amarillo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/carritodecompras"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmar dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card><br>
    <ion-item lines="none">
      <ion-label>Dirección de envio:</ion-label>
    </ion-item>
      <ion-item lines="none">
        <ion-input style="border: solid 1px rgb(230, 227, 227); border-radius: 5px;" [(ngModel)]="direccion">
        </ion-input>
      </ion-item>
    
    <ion-item lines="none">
      <ion-label>Información adicional (Opcional):</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input style="border: solid 1px rgb(230, 227, 227); border-radius: 5px;" [(ngModel)]="infoadi"></ion-input>
    </ion-item> <br>
  </ion-card>
  <ion-toolbar class="rounded" style="border-radius: 15px;" color="amarillo">
    <ion-row>
      <ion-col class="center">

        <ion-button color="azul" (click)="guardarPedido(); ">Finalizar pedido</ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-content>