<ion-header>
  <ion-toolbar color="amarillo">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title >Producto agregado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div  class="text-align: center !important;">
    <img src="assets\pagregado.png" style="width: 200px; height: 180px; padding-left: 5%;">
</div> <br>
  <div class="text-align: center !important;">
  <h1>¡Producto agregado corrrectamente!</h1>
</div><br>
<div class="text-align: center !important;">
  <ion-button  color="azul" (click)="gotocarritodecompras()">Ir al carrito de compras</ion-button>
</div><br>
<div class="text-align: center !important;">
  <ion-button  color="azul" (click)="gotoMenu()">Seguir comprando</ion-button>
</div>

</ion-content>
