.centerText {
    width: 500px;
    margin: auto
  }

  .center{
    text-align:center;
}
.ion-margin-top {
  padding-top: 10px;
}

.margenes-icono-mas {
  margin-right: 15%;
}
.margenes-icono-menos {
  margin-left: 35%;
}