<ion-header>
  <ion-toolbar color="amarillo">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div  class="text-align: center !important;">
    <img src="assets\pedidofinalizado.png" style="width: 200px; height: 180px; padding-left: 5%;">
</div> <br>
  <div class="text-align: center !important;">
  <h1>¡Pedido realizado corrrectamente!</h1>
</div><br>
<div class="text-align: center !important;">
  <ion-button  color="azul" (click)="gotoMispedidos()">Ir a mis pedidos</ion-button>
</div><br>
<div class="text-align: center !important;">
  <ion-button  color="azul" (click)="gotoMenu()">Seguir comprando</ion-button>
</div>

</ion-content>
